
/* Auth Components*/
.auth-component-main-container {

    display: flex;
    grid-area: nav;
    justify-content: center;
    border: 1px solid black;
    margin: 10% 30%;
    padding-bottom: 3rem;
  }
  
  .auth-component-input {
    margin-bottom: 0.75rem;
    border: none;
  }
  .auth-component-input input {
    display: block;
  }
  
  /* All Posts*/
  .posts-main-container {
 
    background-color: #ffff64;
    justify-content: center;
  }
  
  .post-card {
  
    border: 1px solid black;
    background-color: rgb(177, 218, 244);
    margin: 1rem 1rem;
    width: 300px;
    padding: 0.2rem;
  }
  